<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h2>ほんとに退会しますか？</h2>
      <p>
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
      <%= button_to "退会しない", {controller: 'customers', action: 'show'}, {method: :get} %>
      <%= button_to "退会する", {controller: 'customers', action: 'withdraw'}, {method: :patch, data: { confilm: "本当に退会しますか？" }} %>
     </div>
  </div>
</div>