<h1>プラン一覧</h1>
<table>
  <thead>
    <tr>
      <th>プランID</th>
      <th>プラン名</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
    <tr>
      <td><%= plan.id %></td>
      <td>
        <%= link_to plan_path(plan.id) do %>
          <%= plan.plan_name %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
