<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>施設編集</h1>
    </div>
  </div>

  <%= render 'form', institution: @institution, url: admin_institution_path(@institution), submit: '編集する' %>

</div>