<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>施設一覧</h1>
    </div>
  </div>
  <div class="row">
    <% @institutions.each do |institution| %>
    <div style="margin: 5px">
      <div class="card shadow-sm">
        <div class="card-body">
          <%= link_to institution_path(institution.id) do %>
            <% if institution.image.attached? %>
              <%= image_tag institution.image, size: "200x200" %>
            <% else %>
              <%= image_tag asset_path('no_image.jpg'), size: "200x200" %>
            <% end %>
          <% end %>
          <div class="card-title">
            <%= institution.name %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
　</div>
</div>