<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>プラン編集</h1>
    </div>
  </div>
  
  <%= render 'form', plan: @plan, url: admin_plan_path(@plan), submit: '編集する' %>
  
</div>


