<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>料理ジャンル編集</h1>
    </div>
  </div>

  <%= render 'form', menu_genre: @menu_genre, url: admin_menu_genre_path(@menu_genre), submit: '編集する' %>
</div>