<div class="container" style="padding: 20px">
  <div class="row">
    <div class="mx-auto">
      <h1>商品ジャンル一覧・追加</h1>
    </div>
  </div>

  <%= render 'form', item_genre: @item_genre, url: admin_item_genres_path, submit: '新規登録' %>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <table cellpadding="5">
        <% @item_genres.each do |item_genre| %>
        <tr>
          <td><%= item_genre.name %></td>
          <td><%= button_to "ジャンル編集", edit_admin_item_genre_path(item_genre.id), method: :get %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row" style="margin: 20px">
    <div class="mx-auto">
      <%= paginate @item_genres %>
    </div>
  </div>
</div>